<div class="container">
  <h2 class="text-center">DSLPR</h2>
  <br>
  <br>
  <div class="alert alert-success" role="alert" *ngIf="isOK" data-auto-dismiss="5">
    {{notification}}
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isKO" data-auto-dismiss="5">
    {{notification}}
  </div>
  <br>
  <tabset type="pills" vertical="false" class="flex-tab">
    <tab heading="Cause_ALE_deviation" id="tab-content">
      <br>
      <div class="flex-tab">
        <span class="col-sm-3">
          <button class="btn btn-secondary" (click)="onDownloadCauseALEDeviation()">
            <i class="fa fa-download" aria-hidden="true"></i>
            {{'content.download' | translate}}</button>
        </span>

        <span class="col-sm-9">
          <form class="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="file" (change)="selectFile($event)">
                </div>
              </div>
              <div class="col-sm-3">
                <button class="btn btn-secondary" (click)="onUploadCauseALEDeviation()" [disabled]="!selectedFiles"> <i
                    class="fa fa-upload" aria-hidden="true"></i>&nbsp; {{'content.importer' | translate}}</button>
              </div>
            </div>
          </form>
          <div class="d-flex align-items-center" *ngIf="isLoading">
            <strong>Loading...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
          </div>
        </span>
      </div>

      <br>
      <br>
      <h4 class="text-center">{{'content.history' | translate}}</h4>
      <br>
      <br>
      <div class="d-flex align-items-center">
        <input class="col-sm-4" type="text" placeholder="{{'label.search' | translate}}" [(ngModel)]="stringQuery"
          (keyup)="searchHistorys()" />
      </div>
      <br>
      <div class="row">
        <table class="table" id="dslpr-table">
          <thead>
            <tr>
              <th>{{'content.ipn' | translate}}</th>
              <th>{{'content.action' | translate}}</th>
              <th>{{'content.status' | translate}}</th>
              <th>{{'content.date' | translate}}</th>
              <th>{{'content.nb_ligne' | translate}}</th>
              <th>{{'content.report' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let history of historys">
              <td>{{history.ipn}}</td>
              <td>{{history.action}}</td>
              <td>{{history.state}}</td>
              <td>{{history.createdDate}}</td>
              <td>{{history.sizeAddLines}}</td>
              <td>
                <button class="btn btn-secondary" *ngIf="history.hasError"
                  (click)="onDownloadErrorReport(history.errorReport)"><i class="fa fa-download"
                    aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>

      <!-- table pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
          <li class="page-item" *ngIf="!first">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray">
            <a class="page-link" (click)="goToPage(page)">
              {{page}}
            </a>
          </li>
          <li class="page-item" *ngIf="!last">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <br>
      <br>
    </tab>

    <!-- Tb_Co_iso_codepays tab-->
    <tab heading="Tb_Co_iso_codepays" id="tab-content">
      <br>
      <div class="flex-tab">
        <span class="col-sm-3">
          <button class="btn btn-secondary" (click)="onDownloadCauseALEDeviation()">
            <i class="fa fa-download" aria-hidden="true"></i>
            {{'content.download' | translate}}</button>
        </span>

        <span class="col-sm-9">

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="file">
              </div>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-secondary"> <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
                {{'content.importer' | translate}}</button>
            </div>
          </div>
        </span>
      </div>

      <br>
      <br>
      <h4 class="text-center">{{'content.history' | translate}}</h4>
      <br>
      <br>
      <div class="d-flex align-items-center">
        <input class="col-sm-4" type="text" placeholder="{{'label.search' | translate}}" [(ngModel)]="stringQuery"
          (keyup)="searchHistorys()" />
      </div>
      <br>
      <br>
      <div class="row">
        <table class="table" id="dslpr-table">
          <thead>
            <tr>
              <th>{{'content.ipn' | translate}}</th>
              <th>{{'content.action' | translate}}</th>
              <th>{{'content.status' | translate}}</th>
              <th>{{'content.date' | translate}}</th>
              <th>{{'content.nb_ligne' | translate}}</th>
              <th>{{'content.report' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>KO</td>
              <td>18/08/2019</td>
              <td>0</td>
              <td>
                <button class="btn btn-secondary"><i class="fa fa-download" aria-hidden="true"></i></button>
              </td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Download</td>
              <td>OK</td>
              <td>21/07/2019</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>OK</td>
              <td>11/06/2019</td>
              <td>156</td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>
      <br>

      <!-- table pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
          <li class="page-item" *ngIf="!first">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray">
            <a class="page-link" (click)="goToPage(page)">
              {{page}}
            </a>
          </li>
          <li class="page-item" *ngIf="!last">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <br>
      <br>
    </tab>

    <!-- table_correspondances tab-->
    <tab heading="table_correspondances" id="tab-content">
      <br>
      <div class="flex-tab">
        <span class="col-sm-3">
          <button class="btn btn-secondary" (click)="onDownloadCauseALEDeviation()">
            <i class="fa fa-download" aria-hidden="true"></i>
            {{'content.download' | translate}}</button>
        </span>

        <span class="col-sm-9">
          <form class="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="file">
                </div>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-secondary"> <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
                  {{'content.importer' | translate}}</button>
              </div>
            </div>
          </form>
        </span>
      </div>

      <br>
      <br>
      <h4 class="text-center">{{'content.history' | translate}}</h4>
      <br>
      <br>
      <div class="d-flex align-items-center">
        <input class="col-sm-4" type="text" placeholder="{{'label.search' | translate}}" [(ngModel)]="stringQuery"
          (keyup)="searchHistorys()" />
      </div>
      <br>
      <br>
      <div class="row">
        <table class="table" id="dslpr-table">
          <thead>
            <tr>
              <th>{{'content.ipn' | translate}}</th>
              <th>{{'content.action' | translate}}</th>
              <th>{{'content.status' | translate}}</th>
              <th>{{'content.date' | translate}}</th>
              <th>{{'content.nb_ligne' | translate}}</th>
              <th>{{'content.report' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>KO</td>
              <td>18/08/2019</td>
              <td>0</td>
              <td>
                <button class="btn btn-secondary"><i class="fa fa-download" aria-hidden="true"></i></button>
              </td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Download</td>
              <td>OK</td>
              <td>21/07/2019</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>OK</td>
              <td>11/06/2019</td>
              <td>156</td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>

      <br>

      <!-- table pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
          <li class="page-item" *ngIf="!first">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray">
            <a class="page-link" (click)="goToPage(page)">
              {{page}}
            </a>
          </li>
          <li class="page-item" *ngIf="!last">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <br>
      <br>
    </tab>

    <!--load_factor_caisse tab-->
    <tab heading="load_factor_caisse" id="tab-content">
      <br>
      <div class="flex-tab">
        <span class="col-sm-3">
          <button class="btn btn-secondary" (click)="onDownloadCauseALEDeviation()">
            <i class="fa fa-download" aria-hidden="true"></i>
            {{'content.download' | translate}}</button>
        </span>

        <span class="col-sm-9">
          <form class="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="file">
                </div>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-secondary"> <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
                  {{'content.importer' | translate}}</button>
              </div>
            </div>
          </form>
        </span>
      </div>

      <br>
      <br>
      <h4 class="text-center">{{'content.history' | translate}}</h4>
      <br>
      <br>
      <div class="d-flex align-items-center">
        <input class="col-sm-4" type="text" placeholder="{{'label.search' | translate}}" [(ngModel)]="stringQuery"
          (keyup)="searchHistorys()" />
      </div>
      <br>
      <br>
      <div class="row">
        <table class="table" id="dslpr-table">
          <thead>
            <tr>
              <th>{{'content.ipn' | translate}}</th>
              <th>{{'content.action' | translate}}</th>
              <th>{{'content.status' | translate}}</th>
              <th>{{'content.date' | translate}}</th>
              <th>{{'content.nb_ligne' | translate}}</th>
              <th>{{'content.report' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>KO</td>
              <td>18/08/2019</td>
              <td>0</td>
              <td>
                <button class="btn btn-secondary"><i class="fa fa-download" aria-hidden="true"></i></button>
              </td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Download</td>
              <td>OK</td>
              <td>21/07/2019</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>OK</td>
              <td>11/06/2019</td>
              <td>156</td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>

      <br>

      <!-- table pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
          <li class="page-item" *ngIf="!first">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray">
            <a class="page-link" (click)="goToPage(page)">
              {{page}}
            </a>
          </li>
          <li class="page-item" *ngIf="!last">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <br>
      <br>
    </tab>

    <!--load_factor_commerce tab-->
    <tab heading="load_factor_commerce" id="tab-content">
      <br>
      <div class="flex-tab">
        <span class="col-sm-3">
          <button class="btn btn-secondary" (click)="onDownloadCauseALEDeviation()">
            <i class="fa fa-download" aria-hidden="true"></i>
            {{'content.download' | translate}}</button>
        </span>

        <span class="col-sm-9">
          <form class="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="file">
                </div>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-secondary"> <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
                  {{'content.importer' | translate}}</button>
              </div>
            </div>
          </form>
        </span>
      </div>

      <br>
      <br>
      <h4 class="text-center">{{'content.history' | translate}}</h4>
      <br>
      <br>
      <div class="d-flex align-items-center">
        <input class="col-sm-4" type="text" placeholder="{{'label.search' | translate}}" [(ngModel)]="stringQuery"
          (keyup)="searchHistorys()" />
      </div>
      <br>
      <br>
      <div class="row">
        <table class="table" id="dslpr-table">
          <thead>
            <tr>
              <th>{{'content.ipn' | translate}}</th>
              <th>{{'content.action' | translate}}</th>
              <th>{{'content.status' | translate}}</th>
              <th>{{'content.date' | translate}}</th>
              <th>{{'content.nb_ligne' | translate}}</th>
              <th>{{'content.report' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>KO</td>
              <td>18/08/2019</td>
              <td>0</td>
              <td>
                <button class="btn btn-secondary"><i class="fa fa-download" aria-hidden="true"></i></button>
              </td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Download</td>
              <td>OK</td>
              <td>21/07/2019</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>OK</td>
              <td>11/06/2019</td>
              <td>156</td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>

      <br>

      <!-- table pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
          <li class="page-item" *ngIf="!first">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray">
            <a class="page-link" (click)="goToPage(page)">
              {{page}}
            </a>
          </li>
          <li class="page-item" *ngIf="!last">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <br>
      <br>
    </tab>

    <!--table_prix_moyen tab-->
    <tab heading="table_prix_moyen" id="tab-content">
      <br>
      <div class="flex-tab">
        <span class="col-sm-3">
          <button class="btn btn-secondary" (click)="onDownloadCauseALEDeviation()">
            <i class="fa fa-download" aria-hidden="true"></i>
            {{'content.download' | translate}}</button>
        </span>

        <span class="col-sm-9">
          <form class="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="file">
                </div>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-secondary"> <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;
                  {{'content.importer' | translate}}</button>
              </div>
            </div>
          </form>
        </span>
      </div>

      <br>
      <br>
      <h4 class="text-center">{{'content.history' | translate}}</h4>
      <br>
      <br>
      <div class="d-flex align-items-center">
        <input class="col-sm-4" type="text" placeholder="{{'label.search' | translate}}" [(ngModel)]="stringQuery"
          (keyup)="searchHistorys()" />
      </div>
      <br>
      <br>
      <div class="row">
        <table class="table" id="dslpr-table">
          <thead>
            <tr>
              <th>{{'content.ipn' | translate}}</th>
              <th>{{'content.action' | translate}}</th>
              <th>{{'content.status' | translate}}</th>
              <th>{{'content.date' | translate}}</th>
              <th>{{'content.nb_ligne' | translate}}</th>
              <th>{{'content.report' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>KO</td>
              <td>18/08/2019</td>
              <td>0</td>
              <td>
                <button class="btn btn-secondary"><i class="fa fa-download" aria-hidden="true"></i></button>
              </td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Download</td>
              <td>OK</td>
              <td>21/07/2019</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>aw13462</td>
              <td>Upload</td>
              <td>OK</td>
              <td>11/06/2019</td>
              <td>156</td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>

      <br>

      <!-- table pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
          <li class="page-item" *ngIf="!first">
            <a class="page-link" aria-label="Previous" (click)="previousPage()">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of totalPagesArray">
            <a class="page-link" (click)="goToPage(page)">
              {{page}}
            </a>
          </li>
          <li class="page-item" *ngIf="!last">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <br>
      <br>
    </tab>

  </tabset>

</div>